@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('icons/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fefefe;
    font-family: system-ui,'Roboto', sans-serif, 'Segoe UI', 'Open Sans', 'Helvetica Neue';
}

img {
    filter: invert(100%);
}

.search-wrap {
    display: flex;
    align-items: center;
    padding: 15px;
}

.search {
    background-color: #fefefe;
    border-radius: 10px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 7px;
    width: 220px;
    margin: 0 auto;
    gap: 10px;
    height: 45px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 2);
}

.search input {
    width: 100%;
    height: 30px;
    background: none;
    border: none;
    outline: none;
}

.search button {
    border: none;
    background: none;
    filter: invert(100%);
    width: 30px;
    scale: .7;
}

.switch-btn {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.switch-btn button {
    outline: none;
    background: #fefefe;
    border-radius: 10px;
    padding: 7px;
    width: 70px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 2);
}

.switch-btn button:hover {
    scale: 1.1;
}

.text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.main-weather {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.location-weather {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.curr-locations {
    min-width: max-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 15px;
    gap: 5px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 2);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.date-temp {
    min-width: max-content;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 2);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.curr-date {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.curr-temp {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.curr-temp img {
    max-width: 175px;
    max-height: 175px;
}

.more-info {
    min-width: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;    
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 2);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.more-info img {
    scale: .8;
}

@media (max-width: 460px) {
    .main-weather {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .curr-locations {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .curr-date {
        margin: 0 auto;
    }

    .curr-temp {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .more-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.feels-like {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.wind-speed {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.rain-prob {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.humidity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.max-temp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.min-temp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.cards {
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
    margin: 10px;
}

.card {
    padding: 15px;
    min-width: max-content;
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    gap: 15px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 2);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(255, 255, 255, 1);
}

footer {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer a {
    color: #fefefe;
    text-decoration: none;
}